CMakeLists.txt
cmake-build-debug/CMakeFiles/3.8.2/
cmake-build-debug/CMakeFiles/CMakeTmp/
cmake-build-debug/CMakeFiles/TCPClient.dir/
cmake-build-debug/TCPClient.cbp
cmake-build-debug/TCPClient.exe
cmake-build-debug/gdb.exe.stackdump
/cmake-build-debug/
